<h2>Todo Lists</h2>

<div id="lists">

</div>

<h4>Make a New List</h4>

<%= form_for(@todo_list,
	:remote => true,
	:format => :json,
	:html => { :id => "new_list_form" }) do |f| %>
	<%= f.label :title, "List Title" %>
	<%= f.text_field :title %>

	<br />

	<p>Add items</p>
	<div id="add_list_items">
		<input type="text" name="todo_list[items_attributes][0][name]" id="todo_list_item_0">
	</div>
	<a href="#" id="another_item">Add another item to list</a>
	<br />
	<%= f.submit %>
<% end %>


<script type="application/json" id="all_lists">
	<%= @todo_lists.to_json(:include => :items).html_safe %>
</script>

<%= File.read("./app/views/todo_lists/_show.html").html_safe %>
<%= File.read("./app/views/todo_lists/_add_item.html").html_safe %>
<%= File.read("./app/views/todo_lists/_render_list_links.html").html_safe %>

<script type="text/javascript">
	$(function() {
		TASKS = $('#all_lists').html();
		var list_div = $('#lists');
		

		// assemble current lists for insertion
		function render(tasks) {
			var tasks = JSON.parse(tasks);
			_.each(tasks, function(list, i) {

				var listTempCode = $("#list_links").html();
				var listTempFn = _.template(listTempCode);
				var renderedListTemp = listTempFn({
					list: list
				});

				var $p = $('<p></p>');
				$p.attr('id', list.id);
				$p.html(renderedListTemp);
			
				$p.children('a:first-child').attr('id', 'list_' + i);
				list_div.append($p);
		
				var templateCode = $("#list_items").html();
				var templateFunction = _.template(templateCode);
				var renderedTemplate = templateFunction({
					items: list.items
				});
				$p.append(renderedTemplate);
				$p.find('ul').hide();
			});
		}

		// show all current lists
		render(TASKS);

		// toggle item showing for lists
		list_div.on('click', 'p a:first-child', function () {
			event.preventDefault();
			$(this).parent().find('ul').toggle('slow');
		});

		// deletion handlers
		list_div.on('click', 'a.item_obliterator', function() {
			event.preventDefault();
			var item = $(this).parent();

			ItemObliterator(item);
			item.remove();
		});

		list_div.on('click', 'a.list_obliterator', function() {
			event.preventDefault();
			var list = $(this).parent();
			
			ListObliterator(list);
			list.remove();
		});

		// deletion functions
		function ItemObliterator(item) {
			var itemId = item.attr('id');
			var url = '/todo_items/' + itemId;

			$.post(url, { "_method": "delete" });
		}

		function ListObliterator(list) {
			var listId = list.attr('id');
			var url = '/todo_lists/' + listId;

			$.post(url, { "_method": "delete" });
		}

		// handler for new list form submission
		$("#new_list_form").on('ajax:success', function(event, data) {
			// make a new set of links
			var listTempCode = $("#list_links").html();
			var listTempFn = _.template(listTempCode);
			var renderedListTemp = listTempFn({
				list: data
			});

			var $p = $('<p></p>');
			$p.attr('id', data.id);
			$p.html(renderedListTemp);
		
			$p.children('a:first-child').attr('id', 'list_' + (JSON.parse(TASKS).length));
			$('#lists').append($p);

			// add items to the list
			var templateCode = $("#list_items").html();
			var templateFunction = _.template(templateCode);
			var renderedTemplate = templateFunction({
				items: data.items
			});

			$p.append(renderedTemplate);
			$p.find('ul').hide();

			// clean up the form
			$(this).find("[type=text]").val("");
			$("#add_list_items").children("[type=text]").not('input:first-child').remove();
			$("#add_list_items").children('br').not('br:first-child').remove();

			// add new data to bootstrap
			parsed_tasks = JSON.parse(TASKS);
			parsed_tasks.push(data);
			obj_string = JSON.stringify(parsed_tasks);
			TASKS = obj_string;
		});

		// add additional item inputs to the new list form
		$("#another_item").click(function () {
			event.preventDefault();
			var addItemCode = $("#add_item_field").html();
			var addItemFunction = _.template(addItemCode);
			var renderedItem = addItemFunction();
			$("#add_list_items").append(renderedItem);
		});
	});
</script>